@model FoodDelivery.Models.Order

@{
    ViewData["Title"] = "OrderPayment";
}

<h1>OrderPayment</h1>
<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderPayment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"  />
            <div class="form-group">
                <label  class="control-label">Banko kortelės nr.</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Banko PIN</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="DoPayment" asp-route-id="@Model?.ID" type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
